

body{
    background-color: rgb(107, 107, 248);
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.logo{
    display: flex;
    float: inline-start;
    width: 100%;
    height: 40px;
    
}


nav{
    display: flex;
    height: 40px;
    align-items: center;
    padding-top: 1px;
    background-color: #dfbeb8;
    margin-bottom: 20px;
  
}

.sub-menu{
    display: flex;
   
    
}
a{
    display: block;
    padding: 10px;
    text-align: left;
    margin-right: 3px;
}

.head{
    text-align: center;
}

.maincontainer{
    display: flex;
    flex-direction: row;
    /* height: 100px; */
    margin-bottom: 30%;
}


main{
    display: flex;
    flex:1;
    margin:3px 0 3px 0;
    
   
}


#registration input{
    text-align: center;
}

#button{
    margin-top: 5px;
    align-content: center;
}